body {
	background: transparent;
	position: relative;
}

.simple_table{
	border: 1px solid #000; 
	margin: 0 auto;
}

th {
	border: 1px solid #000;
	text-align: center;
}

td {
	padding: 5px;
}

.element {
	border: 1px solid #000;
	text-align: center;
	width: 30%;
}

.description {
	border: 1px solid #000;
}

.example {
	border: 1px solid #000;
}

.selector {
	color: mediumblue;
}

.property {
	color: brown;
}

.value {
	color: red;
}

.responsive_table, .responsive_table_flex {
	display: block;
	background: #eee;
	position: relative;
}

.responsive_column {
	float: left;
	width: 25%;
	height: 200px;
}

.responsive_column:hover {
	background: #ff7200 !important;
	transition: 500ms;
}

.responsive_column:nth-child(4n+1){
	clear: both;
}

.responsive_column p {
	margin: 0;
}

@media (max-width: 1200px) {
	.responsive_column {
		width: 33.3333%;
	}
	.responsive_column:nth-child(3n+1){
		clear: both;
	}
	.responsive_column:nth-child(4n+1){
		clear: none;
	}
}

@media (max-width: 991px) {
	.responsive_column {
		width: 50%;
	}
	.responsive_column:nth-child(2n+1){
		clear: both;
	}
	.responsive_column:nth-child(3n+1){
		clear: none;
	}
}

@media (max-width: 767px) {
	.responsive_column {
		width: 100%;
	}
}

.table_header_flex {
	clear:both;
}

.clearfix {
	clear: both;
}

#modal .title {background: red;}

.title {background: blue;}

#modal #title {background: yellow;}

.title.title-red{background: purple;}

#modal {
	background: pink;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 50px;
	margin-left: -70px;
	margin-top: -40px;
}

.responsive_table_flex {
	display: flex;
	flex-wrap: wrap;
}

.responsive_column_flex {
	height: 200px;
	width: 50%;
}

.responsive_column_flex:nth-child(n+3) {
	margin-top: 50px;
}

@media (max-width: 1200px) {
	.responsive_column_flex {
		width: 33.3333%;
	}
}

@media (max-width: 991px) {
	.responsive_column_flex {
		width: 50%;
	}
}

@media (max-width: 767px) {
	.responsive_column_flex {
		width: 100%;
	}
}

.section--title, .section {
	margin-top: 20px;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.position--example {
	text-align: center;
	animation-name: spin;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: paused;
}

.position--example:hover {
	animation-play-state: running;
}

.position--example:hover::after {
	content: 'FUUUUUUCCCCKKKKK';
}

.responsive_column_flex:nth-child(3) {
	background: #fff !important;
}

